body {
    background: url(d4e5313d5dcd2d7c5c4f83fbdee7d49b.jpg) no-repeat center center fixed;
    background-size: cover;
}

#container {
    position: absolute;
    top: 75px;
    left: 50px;
    background-color: rgb(245, 220, 187);
    padding: 25px;
    border: 4px solid black;
    border-radius: 8px;
}

#list {
    overflow: auto;
    margin-bottom: 45px;
}

.cross {
    position: absolute;
    right: 50px;
    padding-top: 5px;
}

.player {
    padding-top: 5px;
    height: 30px;
    margin-bottom: 10px;
    border: 4px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: #f2cb3d;
}

#Create_Player {
    height: 40px;
    width: 131px;
    border: 3px solid black;
    border-radius: 5px;

}

#Pname {
    height: 30px;
}

.button {
    display: block;
    width: 275px;
    height: 20px;
    background: rgba(255, 255, 255, 0.829);
    padding: 10px;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    line-height: 20px;
    margin-top: 15px;
    text-decoration: none;
}
