{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div id="container">
		<form name = 'PlayerForm' action='' method='POST' onsubmit="validateForm()">
			<div id="list">
				{% csrf_token %}

				{% for player in players_li_names %}
					<div class="player_inf"><b class="player_name"> {{ player }} </b> 
						<img src="{% static 'media/img/remove_sign.png' %}" class="remove cross">
					</div>
				{% endfor %}
			</div>
			<input placeholder="Enter the name" id="Pname" type="text" name="Pname">
			<button type='submit' id = "Create_Player"><b> ADD PLAYER </b></button>
		</form>

		{% if players_li_names|length > 5 %}
			<a class="button" href="{% url 'roles' %}">NIGHT PHASE</a>
		{% else %}
			<b>We need 6 players at least in order to start!</b>
		{% endif %}
	</div>
	

	<script src="{% static 'js/events.js' %}">
	</script>	


<script>
	function validateForm()
	{
		var getPlayer = document.forms["PlayerForm"]["Pname"].value;
		if (getPlayer === "")
			{
				alert('Please input a Name');
				return false;
			} 
	}

</script>

</body>
</html>
