<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form name = 'PlayerForm' action='' method='POST' onsubmit="validateForm()">
        {% csrf_token %}

        {% for player in players_li_names %}
            <div> {{ player }} </div>
        {% endfor %}


     	<input type="text" name="Pname">
		<button type='submit' id = "Create_Player"> CREATE PLAYER </button>
	</form>

	<a href="{% url 'roles' %}">Go to first night</a>

<script>
	function validateForm()
	{
		var getPlayer = document.forms["PlayerForm"]["Pname"].value;
		if (getPlayer === "")
			{
				alert('Please input a Name');
				return false;
			} 
	}

</script>

</body>
</html>
