{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div id="container">
		<form name = 'PlayerForm' action='' method='POST'>
			<div id="list">
				{% csrf_token %}
				<!-- Appends to the list of players already existing players (within the program) -->
				{% for player in players_li_names %}
					<div class="player_inf"><b class="player_name"> {{ player }} </b> 
						<button type="submit" class="cross" name="p_to_remove" value="{{player}}">
							<img src="{% static 'media/img/remove_sign.png' %}">
						</button>
					</div>
				{% endfor %}
			</div>
			<input placeholder="Enter the name" id="Pname" type="text" name="Pname">
			<button type='submit' id = "Create_Player" onclick="validateForm()"><b> ADD PLAYER </b></button>
		</form>
		<br>
		<!-- Checks if there are more than 5 players, if not, the mod can't proceed -->
		{% if players_li_names|length > 5 %}
			<a class="button" href="{% url 'roles' %}">NIGHT PHASE</a>
		{% else %}
			<b>We need 6 players at least in order to start!</b>
		{% endif %}
	</div>
	

	<script src="{% static 'js/validation.js' %}">
	</script>	

</body>
</html>
