{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>NIGHT X</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="night_bg">
    <div id="players_container">
        {% for werewolf in werewolves %}
            <div class='werewolf_container'>
                {% if werewolf.is_dead %}
                    <img class="werewolf_img" src="{% static 'media/img/werewolf_dead.png' %}">
                {% else %}
                    <img class="werewolf_img" src="{% static 'media/img/werewolf.png' %}">
                {% endif %}
                <div class="werewolf_name">{{ werewolf.name }} </div>
            </div>
        {% endfor %}
    </div>

    <div id="werewolf_decision_form">
        <form action="" name = "Vote" method="POST">
        {% csrf_token %}
        <label for="vote" id="label_txt">Werewolves decided to kill</label>
        <div class="selectWrapper">
            <select name="vote" id="player_select">
                {% for rest in rest %}
                        <option value="{{ rest }}">{{ rest.name }}</option>
                {% endfor %}
            </select>
        </div><br>
        <button type='submit' id="Kill_Player">Kill</button>
        </form><br><br><br>
        <a href="{% url 'day_template' %}" id="day_time_link">Go to Day Time</a>
    </div>
</body>
</html>
