{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>ASSIGN THE ROLES</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="night_bg">

    <form id="roles_assignment" action="" name = "Roles" onsubmit="validateForm()">
    {% csrf_token %}
    {% for player in players_li %}
        <div style="overflow: auto;">
        <label for = "{{ player }}" class="label">{{ player }}</label>
        <select class="select-css" style="float: right;" name = {{ player }}>   <!-- zrelo za rework -->
            <option value="Villager">Villager</option>
            <option value="Werewolf">Werewolf</option>
            <option value="WhiteWerewolf">White Werewolf</option>
            <option value="Seer">Seer</option>
            <option value="Hunter">Hunter</option>
            <option value="Witch">Witch</option>
        </select>
        </div>
    {% endfor %}

    <div id="amor_container">
        <select class="select-css" name="amor">
            {% for player in players_li %}
                <option>{{ player }}</option>
            {% endfor %}
        </select>
    <div id="amor_txt">AMOR?</div>
        <select class="select-css" name="amor">
            {% for player in players_li %}
                <option>{{ player }}</option>
            {% endfor %}
        </select>
        </div>

    <button type='submit' class="night_btn"> ASSIGN ROLES </button>
    </form>

    <script>
        function validateForm()
        {
            var allPlayers = document.getElementsByClassName("select-css");
            numOfWerewolves = 0;
            numOfVillagers = 0;
            for(var i = 0; i < allPlayers.length; i++)
            {
                if (allPlayers[i].value == "Werewolf") {
                    numOfWerewolves = numOfWerewolves + 1;
                } else if (allPlayers[i].value == "Villager") {
                    numOfVillagers = numOfVillagers + 1;
                }
            }
            if (numOfWerewolves < 1) {
                alert("Not enough werewolves!");
            } else if (numOfVillagers < 3) {
                alert("Not enough villagers!");
            } else {
                document.getElementById('roles_assignment').setAttribute("method", "post");
                alert("Roles assigned!")
            }
        }
    
    </script>

    <center>
        <form id="to_day" action="{% url 'day1' %}">
            <input id type="submit" class="night_btn" value="START GAME" />
        </form>
    </center>
</body>
</html>
