{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>ASSIGN THE ROLES</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="night_bg" onload="select_another();">

    <form id="roles_assignment" action="" name = "Roles" onsubmit="validateForm()">
    {% csrf_token %}
    {% for player in players_li %}
        <div style="overflow: auto;">
        <label for = "{{ player }}" class="label">{{ player }}</label>
        <select class="select-css" style="float: right;" name = {{ player }}>   <!-- zrelo za rework -->
            <option value="Villager">Villager</option>
            <option value="Werewolf">Werewolf</option>
            <option value="WhiteWerewolf">White Werewolf</option>
            <option value="Seer">Seer</option>
            <option value="Hunter">Hunter</option>
            <option value="Witch">Witch</option>
        </select>
        </div>
    {% endfor %}
    <br><br>
    <input type="checkbox" id="lovers" name="lovers" value="lovers" onclick="toggle_amors();">
    <label for="lovers" id="amor_label"> GONNA HAVE LOVERS?</label>

    <div id="amor_container" hidden>
        <select class="select-css" onchange="amor_select()" id="amor_select_id">
            {% for player in players_li %}
                <option value="{{player}}">{{ player }}</option>
            {% endfor %}
        </select>
    <div id="amor_txt">AMOR?</div>
        <select class="select-css" onchange="amor_select_second()" id="second_amor_select">
            {% for player in players_li %}
                <option value="{{player}}">{{ player }}</option>
            {% endfor %}
        </select>
        </div>
        <br>
    <button type='submit' class="night_btn"> ASSIGN ROLES </button>
    </form>

    <script>
        function validateForm()
        {
            var allPlayers = document.getElementsByClassName("select-css");
            numOfWerewolves = 0;
            numOfVillagers = 0;
            for(var i = 0; i < allPlayers.length; i++)
            {
                if (allPlayers[i].value == "Werewolf") {
                    numOfWerewolves = numOfWerewolves + 1;
                } else if (allPlayers[i].value == "Villager") {
                    numOfVillagers = numOfVillagers + 1;
                }
            }
            if (numOfWerewolves < 1) {
                alert("Not enough werewolves!");
            } else if (numOfVillagers < 3) {
                alert("Not enough villagers!");
            } else {
                document.getElementById('roles_assignment').setAttribute("method", "post");
                alert("Roles assigned!")
            }
        }

        function toggle_amors() {
            if (document.getElementById("lovers").checked) {
                document.getElementById("amor_container").hidden = false;
                document.getElementById("amor_select_id").setAttribute("name", "amor")
                document.getElementById("second_amor_select").setAttribute("name", "amor")
            } else {
                document.getElementById("amor_container").hidden = true;
                document.getElementById("amor_select_id").removeAttribute("name");
                document.getElementById("second_amor_select").removeAttribute("name")
            }
        }

        var secondOldSelection = null;
        function amor_select() {
            if (secondOldSelection != null) {
                document.querySelector('#second_amor_select option[value=' + secondOldSelection + ']').disabled = false;
            }
            var valOfAmor = document.getElementById("amor_select_id").value;
            document.querySelector('#second_amor_select option[value=' + valOfAmor + ']').disabled = true;
            secondOldSelection = valOfAmor;
        }

        var firstOldSelection = null;
        function amor_select_second() {
            if (firstOldSelection != null) {
                document.querySelector('#amor_select_id option[value=' + firstOldSelection + ']').disabled = false;
            }
            var valOfAmor = document.getElementById("second_amor_select").value;
            document.querySelector('#amor_select_id option[value=' + valOfAmor + ']').disabled = true;
            firstOldSelection = valOfAmor;
        }

        function select_another() {
            document.getElementById('second_amor_select').options[1].selected = 'selected';
            amor_select();
            amor_select_second();
        }
    
    </script>

    <center>
        <form id="to_day" action="{% url 'day1' %}">
            <input id type="submit" class="night_btn" value="START GAME" />
        </form>
    </center>
</body>
</html>
