{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<title>Seer</title>
</head>
<body id="night_bg">
  <div id="special_decision_form">
    <div><p id="label_txt">The seer {{ seer.name }} awakens, and decides to check the role of player : </p></div>

      <form action="" name = "Check" method="POST">
        {% csrf_token %}
        <select name="vote" class="select-css">
            {% for rest in rest %}
                  <option value="{{ rest }}">{{ rest.name }}</option>
            {% endfor %}
        </select>
        <button type='submit' id="Decide_btn">Decide</button>
      </form>
      <br>
      <a href="{% url 'seer1' %}" id="check_link">Check</a>
  </div>
</body>
</html>
