<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>white werewolf</title>
  </head>
  <body>
        <p>The White Werewolf awakens, and chooses one of the werewolves to kill</p>

        <form action="" name = "Check" method="POST">
          {% csrf_token %}
          <select name="vote">
              {% for person in werewolves %}
                    <option value="{{ person }}">{{ person.name }}</option>
              {% endfor %}
          </select>
          <button type='submit'>Decide</button>
        </form>

        <a href="{% url 'witch' %}">Check</a>


  </body>
</html>
