<!DOCTYPE html>
<html>
<head>
	<title>Witch</title>
</head>
<body>

    <div><p>The witch {{ witch.name }} awakens, and thinks what to do ... </p></div>


    {% if witch.healing_potion == True  %}
    <form action="" name = "Heal" method="POST">
      {% csrf_token %}
      <label for="healing">Use potion of healing on player </label>
      <select name="healing">
          {% for person in all %}
                <option value="{{ person }}">{{ person.name }}</option>
          {% endfor %}
      </select>
      <button type='submit'>Use healing potion</button>
    </form>
    {% endif %}


    {% if witch.poison_potion == True %}
    <form action="" name = "Kill" method="POST">
      {% csrf_token %}
      <label for="kill">Use potion to kill player </label>
      <select name="kill">
          {% for person in rest %}
                <option value="{{ person }}">{{ person.name }}</option>
          {% endfor %}
      </select>
      <button type='submit'>Use potion of death</button>
    </form>
    {% endif %}
	
	
    <a href="{% url 'day_template' %}">Go to Day</a>

</body>
</html>
